{% extends 'base.html.twig' %}

{% block title %}All types{% endblock %}

{% block body %}
    <h1>All types : </h1>
    {% for type in types %}
        <div>
            <h2>{{ loop.index }} / {{ type.name }} - Category : {{ type.category.name }}</h2>
            <a href="{{ path("type_show", { slug: type.slug }) }}">See more</a>

        </div>
    {% else %}
        No type found
    {% endfor %}
    <br><br>
    <a href="{{ path('homepage') }}">
        Back to homepage
    </a>
{% endblock %}
