{% extends 'base.html.twig' %}

{% block title %}Hello Test!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchBar') }}

{% endblock %}

{% block body %}
<div class="container">
    <h2>Page test API</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Rechercher</button>
    {{ form_end(form) }}
    {{ dump(content) }}
    {% if content is not null %}
        {% for book in content.docs %}
             <ul>
                 <li>Titre : {{ book.title }}</li>
                <li>Auteur : {{ book.author_name[0] }}</li>
                <li>Publication : {{ book.publish_date[0] }}</li>
                <li>Editeur : {{ book.publisher[0] }}</li>
            </ul>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}